<div class="container pages-body">
  <p>
    <b>Description:</b>
    <%= @training.description %>
  </p>

  <p>
    <b>Timeframe:</b>
    <%= @training.duration %>
  </p>

  <p>
    <b>Url:</b>
    <%= link_to @training.url, @training.url, target: "_blank" %>
  </p>

  <%= link_to 'Back', :back %>
</div>
