<div class="container pages-body">
  <p>
    <b>Description:</b>
    <%= @training.description %>
  </p>

  <p>
    <b>Timeframe:</b>
    <%= @training.duration %>
  </p>

  <%= link_to 'Back', :back %>
</div>
