<div class="container pages-body">
  <h1 class="text-center">Music Samples for: <%= @ensemble.name %></h1>
  <%= render "musician_video_links/video_links" %>
  <%= link_to 'Back', @ensemble %>
</div>
